.lumino-container {
  display: flex;
  flex: 1;
  background-color: rgb(var(--v-theme-background));

  :deep(.lm-mod-current) {
    border-top: rgb(var(--v-theme-secondary)) 2px solid !important;
  }

  :deep(.lumino-tab-active) {
    border-top: rgb(var(--v-theme-primary)) 2px solid !important;
  }

  :deep(.lm-TabBar),
  :deep(.lm-TabBar-content),
  :deep(.lm-TabBar-addButton) {
    border-color: rgba(var(--v-border-color), var(--v-border-opacity));
  }

  :deep(.lumino-box-panel),
  :deep(#panel-box) {
    display: flex;
    flex: 1;

    .lumino-content {
      border-color: rgba(var(--v-border-color), var(--v-border-opacity));
      border-top: none;
      background-color: rgb(var(--v-theme-background));
      position: relative;
      overflow: auto;
      display: flex;
    }
  }
}